@model pb_category.Models.CalculateViewModels
@{
    ViewBag.Title = "Расчет";
}
@using (Ajax.BeginForm("Steps", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "Steps",
    OnComplete = "UpdateA",
}))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="panel-group" id="accordion">
            @{ Html.RenderPartial("Steps"); }
        </div>
    </div>
}
<script>
    function UpdateA(ajaxContext) {
        $.ajax({
            url: "/Calculate/GetValueA",
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (answer) {
                for (var i = 0; i < answer.length; i++) {
                    var Step = answer[i];
                    for (var j = 0; j < Step.AllInputs.length; j++) {
                        var inputs = Step.AllInputs[j];
                        if (inputs.Error) {
                            $('#alert' + inputs.Name).html(inputs.Error);
                        }
                        else {
                            $('#' + inputs.Name).val(inputs.Value);
                            $('#alert' + inputs.Name).empty();
                        }
                    }
                    if (Step.FinishValue != null) {
                        if ($('#Step' + Step.Number + 'Header').hasClass('invisible')) {
                            $('#Step' + Step.Number + 'Header').removeClass('invisible');
                            $('#Step' + Step.Number + 'HeaderValue').html(Step.FinishValue);
                        }
                    }
                }
            }
        });
        $('#Answer').prependTo('#Steps').slideDown();
    }
</script>