<p>
    <span class="MathJax" id="MathJax-Element-266-Frame" tabindex="0" style="text-align: center;"><nobr><span class="math" id="MathJax-Span-1135" style="width: 4.752em; display: inline-block;"><span style="display: inline-block; position: relative; width: 3.96em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.294em 1003.96em 2.544em -999.998em); top: -2.206em; left: 0em;"><span class="mrow" id="MathJax-Span-1136"><span class="msubsup" id="MathJax-Span-1137"><span style="display: inline-block; position: relative; width: 2.127em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.75em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-1138" style="font-family: MathJax_Math-italic;">P<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -3.831em; left: 0.627em;"><span class="texatom" id="MathJax-Span-1139"><span class="mrow" id="MathJax-Span-1140"><span class="mi" id="MathJax-Span-1141" style="font-size: 70.7%; font-family: MathJax_Math-italic;">m</span><span class="mi" id="MathJax-Span-1142" style="font-size: 70.7%; font-family: MathJax_Math-italic;">a</span><span class="mi" id="MathJax-Span-1143" style="font-size: 70.7%; font-family: MathJax_Math-italic;">x</span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span><span class="mo" id="MathJax-Span-1144" style="font-family: MathJax_Main;">,</span><span class="texatom" id="MathJax-Span-1145" style="padding-left: 0.169em;"><span class="mrow" id="MathJax-Span-1146"><span class="mo" id="MathJax-Span-1147"><span style="font-size: 83%; font-style: normal; font-weight: normal;">к</span></span></span></span><span class="texatom" id="MathJax-Span-1148"><span class="mrow" id="MathJax-Span-1149"><span class="mo" id="MathJax-Span-1150"><span style="font-size: 83%; font-style: normal; font-weight: normal;">П</span></span></span></span><span class="texatom" id="MathJax-Span-1151"><span class="mrow" id="MathJax-Span-1152"><span class="mo" id="MathJax-Span-1153"><span style="font-size: 83%; font-style: normal; font-weight: normal;">а</span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.21em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.297em; border-left: 0px solid; width: 0px; height: 1.302em;"></span></span></nobr></span>
    <input id="Pmax" name="Pmax" type="text" value="@Model.Pmax">
</p>
<p>
    Максимальное давление, развиваемое при сгорании стехиометрической газовоздушной или паровоздушной смеси в замкнутом объеме, определяемое экспериментально или по справочным данным в соответствии с требованиями
    <button type="button" class="modal_button" data-toggle="modal" data-target="#43">4.3</button>. При отсутствии данных допускается принимать
    <span class="math" id="MathJax-Span-1028" style="width: 2.585em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.127em; height: 0px; font-size: 120%;"><span style="position: absolute; clip: rect(1.377em 1002.13em 2.46em -999.998em); top: -2.165em; left: 0em;"><span class="mrow" id="MathJax-Span-1029"><span class="msubsup" id="MathJax-Span-1030"><span style="display: inline-block; position: relative; width: 2.127em; height: 0px;"><span style="position: absolute; clip: rect(3.21em 1000.75em 4.127em -999.998em); top: -3.998em; left: 0em;"><span class="mi" id="MathJax-Span-1031" style="font-family: MathJax_Math-italic;">P<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.127em;"></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span><span style="position: absolute; top: -3.831em; left: 0.627em;"><span class="texatom" id="MathJax-Span-1032"><span class="mrow" id="MathJax-Span-1033"><span class="mi" id="MathJax-Span-1034" style="font-size: 70.7%; font-family: MathJax_Math-italic;">m</span><span class="mi" id="MathJax-Span-1035" style="font-size: 70.7%; font-family: MathJax_Math-italic;">a</span><span class="mi" id="MathJax-Span-1036" style="font-size: 70.7%; font-family: MathJax_Math-italic;">x</span></span></span><span style="display: inline-block; width: 0px; height: 4.002em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.169em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.247em; border-left: 0px solid; width: 0px; height: 1.103em;"></span></span>
    равным 900 кПа
</p>
<div id="43" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    Определение пожароопасных свойств веществ и материалов производится на основании результатов испытаний или расчетов по стандартным методикам с учетом параметров состояния (давления, температуры и т. д.).
                    Допускается использование официально опубликованных справочных данных по пожароопасным свойствам веществ и материалов.
                    Допускается использование показателей пожарной опасности для смесей веществ и материалов по наиболее опасному компоненту.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>