body {
    padding-bottom: 20px;
    color: #7f7f7f;
    font-size: 20px;
    overflow-y: scroll;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-fixed-bottom {
    padding-left: 50px;
    padding-right: 50px;
}

.dl-horizontal dt {
    white-space: normal;
}

h4 {
    font-size: 25px;
}

.padding-footer {
    height: 100px;
}

.btn {
    font-size: 25px;
    background-color: #64b7ce;
    color: black;
    padding: 15px;
    margin: 15px;
    outline: none !important;
}

    .btn:hover {
        background-color: #72bfe6;
        color: black;
    }

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #64b7ce;
}

.navbar {
    margin-bottom: 0;
}

.fond {
    width: 50%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.brand {
    background-image: url(http://ramki-vsem.ru/fon/zheltyj-fon25.jpg);
    background-color: #faaf1b;
    height: 400px;
}

#myCarousel {
    padding-top: 50px;
}

.slide-control {
    font-size: 70px;
}

.slide-text {
    font-size: 40px;
}

.slide-control a {
    color: #7f7f7f;
    text-decoration: none;
}

    .slide-control a:hover {
        text-decoration: none;
        color: #64b7ce
    }

.menu-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 250px;
    background-image: -ms-linear-gradient(left, #eee 0%, #eee 50%, #eee 100%);
    background-image: -moz-linear-gradient(left, #eee 0%, #eee 50%, #eee 100%);
    background-image: -o-linear-gradient(left, #eee 0%, #eee 50%, #eee 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #eee), color-stop(50, #FFFFFF), color-stop(100, #eee));
    background-image: -webkit-linear-gradient(left, #eee 0%, #FFFFFF 50%, #eee 100%);
    background-image: linear-gradient(to right, #eee 0%, #FFFFFF 50%, #eee 100%);
    border-bottom: 5px solid white;
}

.carousel-inner img {
    height: 100px;
    margin: 0 auto;
}

.carousel-inner a {
    text-align: center;
    text-decoration: none;
    color: #7f7f7f;
}

.menu-container:hover {
    border-bottom: 5px solid #64b7ce;
}

.carousel-control.left {
    background-image: none;
    color: black;
    font-size: 50px;
    margin-left: -25px;
}

.carousel-control.right {
    background-image: none;
    color: black;
    font-size: 50px;
    margin-right: -25px;
}

.spoiler-body {
    display: none;
}

.spoiler-title {
    cursor: pointer;
}

.panel-heading {
    border-bottom: 1px solid #1a1a1a;
    background: #333;
    text-shadow: 0px 1px 0px #1a1a1a;
    color: #fff;
}

    .panel-heading h4 {
        font-size: 25px;
        height: 65px;
        line-height: 65px;
    }

.panel-default a:hover, .panel-default a:focus {
    text-decoration: none;
}

.panel-body {
    padding: 15px;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-group .panel {
    border-radius: 10px;
}

.alert {
    color: red;
}

.modal_button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #72bfe6;
    outline: none;
}

.MathJax, .math {
    outline: none;
}

.total {
    margin: 40px;
    text-align: center;
}

#accordion input[type=submit], #Steps input {
    float: right;
    margin-top: -30px;
}