body {
    padding-bottom: 20px;
    color:#7f7f7f
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}
 .navbar-fixed-bottom {
    padding-left: 50px;
    padding-right: 50px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar {
    margin-bottom: 0;
}
.fond{
    width:50%;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.brand{
    background-image: url(http://ramki-vsem.ru/fon/zheltyj-fon25.jpg); 
    background-color: #faaf1b;
    height: 400px;
}
#myCarousel{
    padding-top:50px;
}
.slide-control {
font-size:70px;
}
.slide-text{
font-size:40px;

}
.slide-control a{
color:#7f7f7f;
}
.slide-control a:hover{
text-decoration:none;
color:#64b7ce
}
.menu-container
{ display:table-cell; vertical-align:middle; text-align:center; height:250px; 
  /* IE10+ */ 
background-image: -ms-linear-gradient(left, #eee 0%, #eee 50%, #eee 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #eee 0%, #eee 50%, #eee 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #eee 0%, #eee 50%, #eee 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #eee), color-stop(50, #FFFFFF), color-stop(100, #eee));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #eee 0%, #FFFFFF 50%, #eee 100%);

/* W3C Markup */ 
background-image: linear-gradient(to right, #eee 0%, #FFFFFF 50%, #eee 100%);
    border-bottom:5px solid white;
} 
.carousel-inner img{
    height:100px;
    margin: 0 auto;

}
.carousel-inner a{
    text-align:center;
    text-decoration:none;
    color:#7f7f7f;
}
.menu-container:hover{
    border-bottom:5px solid #64b7ce;
}
.carousel-control.left {
  background-image: none;
  color:black;
  font-size:50px;
 margin-left: -25px;

}

.carousel-control.right {
  background-image: none;
  color:black;
  font-size:50px;
 margin-right: -25px;}

#accordian {
	width: 100%;
}
#accordian ul {
    margin-left: -40px;
}
#accordian h3 {
	cursor: pointer;
    padding-left:10px;
    margin-top: 10px;
}
#accordian h3:hover {
color:#64b7ce;}
#accordian h3 {
	font-size: 30px;
}
#accordian li {
	list-style-type: none;
}
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}
.step {
        border: 1px solid #7f7f7f;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.step-content{
    padding: 0 15px 15px 55px!important;
}
.spoiler-body {
    display: none;
}
.spoiler-title {
    cursor:pointer;
}