@{
    ViewBag.Title = "Расчет";
}
@using (Ajax.BeginForm("CalculateSteps", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Steps",
    LoadingElementId = "loadingIndicator",
}))
{
    @Html.AntiForgeryToken()

    <div id="Steps">
        @{ Html.RenderPartial("CalculateSteps"); }
    </div>
    <div id="loadingIndicator" style="display:none;">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <h3 class="text-center">Загрузка</h3>
    </div>
    <input type="submit" class="btn center" value="Перейти к следующему шагу" id="Answer" />
}
@section scripts
{
}