@{
    ViewBag.Title = "Расчет";
}
@using (Ajax.BeginForm("CalculateSteps", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Steps",
}))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div id="Steps">
            @{ Html.RenderPartial("CalculateSteps"); }
        </div>
    </div>
}