@{
    ViewBag.Title = "Расчет";
}
@using (Ajax.BeginForm("CalculateSteps", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "Steps",
    OnSuccess = "Update"
}))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="panel-group" id="accordion">
            @{ Html.RenderPartial("StepA100"); }
        </div>
        <input type="submit" class="btn center" value="Перейти к следующему шагу" id="Answer" />
    </div>
}