@model pb_category.Models.CalculateViewModels
@{
    ViewBag.Title = "Расчет";
}
<div id="loadingIndicator" style="display:none;">
    <h3 class="center">Загрузка</h3>
</div>
@using (Ajax.BeginForm("CalculateSteps", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Steps",
    LoadingElementId = "loadingIndicator",
}))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn center" value="Далее" id="Answer" />

    <div id="Steps">
        @Html.TextBoxFor(m => m.Pmax)
    </div>
}
@section scripts
{
    <script>
    </script>
}