@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center ">
    <div class="col-md-3">
        <div class="category">
            <a href="/Home/Calculate">
                <h2>Складские помещения</h2>
                <img src="~/Content/1.png" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="category">
            <a href="#">
                <h2>Производственные помещения</h2>
                <img src="~/Content/2.png" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="category">
            <a href="#">
                <h2>Помещения гаражей, автостоянок</h2>
                <img src="~/Content/3.png" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="category">
            <a href="#">
                <h2>Помещения объектов торговли</h2>
                <img src="~/Content/4.png" />
            </a>
        </div>
    </div>
</div>