<tr id="Material@(ViewBag.MaterialCount)">
    <td><input id="Name" name="Name" type="text"></td>
    <td><input id="G" name="G" type="text" onkeyup="calc($(this))"></td>
    <td><input id="Qn" name="Qn" type="text" onkeyup="calc($(this))"></td>
    <td id="Q@(ViewBag.MaterialCount)"></td>
</tr>