@model pb_category.Models.CalculateHFLViewModel
@{
    ViewBag.Title = "Расчет";
}
@using (Ajax.BeginForm("StepsHFL", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "Steps",
    OnComplete = "UpdateHFL",
}))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h3>Проверка помещения на принадлежность к категории А, Б</h3>
        <div class="total">
            @{ Html.RenderPartial("HFL/Total"); }
        </div>
        <div class="panel-group" id="accordion">
            @{ Html.RenderPartial("HFL/Steps"); }
        </div>
    </div>
}
<script>
    function UpdateHFL(ajaxContext) {
        $.ajax({
            url: "/Calculate/GetValueHFL",
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (answer) {
                $('*[id^="alert"]').empty();
                for (var i = 0; i < answer.length; i++) {
                    var Step = answer[i];
                    for (var j = 0; j < Step.AllInputs.length; j++) {
                        var inputs = Step.AllInputs[j];
                        if (inputs.Error) {
                            $('#alert' + inputs.Name).html(inputs.Error);
                            if ($('[href*="collapse' + Step.Number + '"]').hasClass('collapsed')) {
                                jQuery('[href*="collapse' + Step.Number + '"]').click();
                            }
                        }
                        else {
                            $('#' + inputs.Name).val(inputs.Value);
                        }
                    }
                    if (Step.FinishValue != null) {
                        if ($('#Step' + Step.Number + 'Header').hasClass('invisible')) {
                            $('#Step' + Step.Number + 'Header').removeClass('invisible');
                        }
                        $('#Step' + Step.Number + 'HeaderValue').html(Step.FinishValue);
                        if(Step.Number == 7){
                            $('#Next').val('Рассчитать категорию');
                        }
                        if(Step.Number == 8){
                            $('#Next').prependTo('#accordion').slideDown();
                            $('#Next').val('Пересчитать категорию');
                            $("html, body").animate({ scrollTop: 0 });
                        }
                        if (Step.Number == 9) {
                            var value = parseInt(Step.FinishValue, 10);
                            if (value < 5) {
                                if (!$('#Category').hasClass('invisible')) {
                                    $('#Category').addClass('invisible');
                                }
                            }
                            if (value >= 5) {
                                if ($('#Category').hasClass('invisible')) {
                                    $('#Category').removeClass('invisible');
                                }
                            }
                        }
                    }
                }
                if ($('#Next').val() != 'Пересчитать категорию') {
                    $('#Next').prependTo('#Steps').slideDown();
                }
            }
        });
    }
</script>