<p>
    Z
    @Html.DropDownList("Z") <span id="alertZ" class="alert"></span>
</p>
<p>Коэффициент участия горючих газов и паров в горении, который может быть рассчитан на основе характера распределения газов и паров в объеме помещения согласно приложению Д СП12.</p>
<p>Допускается принимать значение Z из предложенных значений.</p>